.admin-container {
    text-align: center;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .admin-button {
    background-color: #207554;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .admin-button:hover {
    background-color: #45a049;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .quote-container {
    margin-top: 30px;
  }
  
  .quote {
    font-size: 18px;
    color: #333;
  }
  
  .author {
    font-style: italic;
    color: #777;
  }
  